@model PersonalNews.Models.Category

@{
    ViewBag.Title = "Details";
}

<h2>栏目详情</h2>

<div>
    <h4>栏目</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("编辑", "Edit", new { id = Model.CategoryId }) |
    @Html.ActionLink("返回近期新闻", "Index")
</p>
